# -- Hauptsächlich gebraucht für dein Script --
selenium==4.30.0
requests==2.32.3
beautifulsoup4==4.13.3
pytz==2025.2

# -- Wenn du wirklich Pandas/Numpy brauchst --
pandas==2.2.3
numpy==2.2.4
python-dateutil==2.9.0
pytz==2025.2
tzdata==2025.2